**/.idea/
**/.eggs
**/_version.py
**/*.pyc
**/.venv.*/
**/venv.*/
libs/*/build/
**/*.egg-info
wheels/
packages.in
notebooks/scrapbooks
.ipynb_checkpoints/
htmlcov
.coverage
.pytest_cache
libs/datagraph/src/aika/datagraph/tests/file_backend_data/*
libs/putki/src/aika/putki/tests/runners_test/*